---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const endpoint = "https://kea-alt-del.dk/t7/api/products";

const data = await fetch(endpoint).then((res)=>res.json())
console.log(data);
---

<Layout>
    <h1>Produkter</h1>
    {data.map((product)=> <Card data={product}/>)}
</Layout>